dist: xenial
language: python

python:
    - 3.5.3
    - 3.6
    - 3.7

env:
    matrix:
        - PYTHONASYNCIODEBUG=1
        - PYTHONASYNCIODEBUG=

services:
    - docker
    - mysql

matrix:
   include:
        - python: 3.6
          dist: trusty
          env: PYTHONASYNCIODEBUG=
          addons:
              mariadb: 5.5
        - python: 3.6
          dist: trusty
          env: PYTHONASYNCIODEBUG=1
          addons:
              mariadb: 10.0
        - python: 3.6
          dist: trusty
          env: PYTHONASYNCIODEBUG=
          addons:
              mariadb: 10.1
        - python: 3.6
          dist: trusty
          env: PYTHONASYNCIODEBUG=
          addons:
              mysql: 5.7


before_script:
    - "mysql -e 'SELECT VERSION()'"
    - "mysql -e 'DROP DATABASE IF EXISTS test_pymysql; create database test_pymysql  DEFAULT CHARACTER SET utf8 DEFAULT COLLATE utf8_general_ci;'"
    - "mysql -e 'DROP DATABASE IF EXISTS test_pymysql2; create database test_pymysql2 DEFAULT CHARACTER SET utf8 DEFAULT COLLATE utf8_general_ci;'"

install:
    - pip install -Ur requirements-dev.txt
    - pip install .
    - pip install codecov

deploy:
    provider: pypi
    user: aio-libs-bot
    distributions: "sdist bdist_wheel"
    password:
        secure: G9vr3UOuK7tJifGEzO1kForcz+DCq1IdtIVKr/e4gPenvENinCFrRRWw206BQf1ba1+EjvRqc/yJFfZrgFUJlxgrtahvFmTCzKiLHCwr2vJsEYyr6JLWKRE81//RKTOykDWwvCAjk6sgV8lYtKL6R5sTtjzLJq8CKsLoKZ97yniPKmNu/+7IJvp+vSOA9gIL+GWbDTP8lmNDLWwphFxq6mm4WQ0VWqwDb0SF3FG/QPGDYU19mPLsLqgf1cxaBuRtb/epRDLLG70M9l9/aBPbtAHdbxY+O+/Fv5RPxfo2xFB7ry7yQEsIGrOwot/TxsZDRwRnfPm8N4OV9AfnKjiF5sBpidRR5kQr2pgFP2xq7LEROOPydMbY+YbSHCRBGCHWsHusjwCCL1veVTZ10EB9j3j0O9C6rAaF6Ssdlfq3kzhbWUItQfIZ/h7C0Z0ucVqFB8uBug7jNxT8hD3pR4ftM6Y94HY4BFOlkmSUH9u7owCeUoV9WQT/QAZHOLswRpp1wjsu2c0zKh3wiiuzCYJ64cD/BQW8rQMp0QiGqsNebqR+3L6yNLLSMpDWp3q/pnVbjsI/yepvpVbpp3PltSfZJL0uUfE0OR+xU67JP4npVS8B/A7aTARcM/ljx7IYNYYf/peXQ6UmBOrR2OgPnRPv5LfG9NGdEy0WpQKCVuSydxk=
    on:
        tags: true
        repo: aio-libs/aiomysql
        all_branches: true
        python: 3.6

script:
    - make cov

after_success:
    - codecov
