coverage==4.5.2
flake8==3.6.0
ipdb==0.11
ipython==7.0.1
pytest==3.9.1
pytest-cov==2.6.0
pytest-sugar==0.9.1
PyMySQL>=0.9,<=0.9.2
docker==3.5.1
sphinx==1.8.1
sphinxcontrib-asyncio==0.2.0
sqlalchemy==1.2.12
uvloop==0.11.2; python_version >= '3.5'
