coverage==5.5
flake8==3.9.2
ipdb==0.13.9
ipython==7.26.0
pytest==6.2.4
pytest-cov==2.12.1
pytest-sugar==0.9.4
PyMySQL==1.0.2
docker==5.0.0
sphinx==4.1.2
sphinxcontrib-asyncio==0.3.0
sqlalchemy==1.4.22
uvloop==0.16.0; python_version >= '3.5'
pyroma==2.6
