coverage==7.2.7
# flake8 version is also specified in .github/workflows/ci-cd.yml
flake8==5.0.4
ipdb==0.13.13
pytest==7.3.2
pytest-cov==4.1.0
pytest-sugar==0.9.7
PyMySQL==1.0.3
sphinx>=1.8.1, <5.1.2
sphinxcontrib-asyncio==0.3.0
SQLAlchemy==1.3.24
uvloop==0.17.0
twine==5.1.1
