#
# The MySQL database server configuration file.
#
[client]
user = {user}
port = {port}
host = {host}
password = {password}
database = {db}
socket = {socket}
default-character-set = utf8

[client_with_unix_socket]
user = {user}
password = {password}
database = {db}
socket = {socket}
default-character-set = utf8
