name: lint

on:
  push:
    branches:
      - 'master'
    tags:
      - 'v*'
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0

      - name: Setup Python 3.10
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'

      - name: Get pip cache dir
        id: pip-cache
        run: |
          echo "::set-output name=dir::$(pip cache dir)"    # - name: Cache

      - name: Cache PyPI
        uses: actions/cache@v2.1.7
        with:
          key: pip-lint
          path: ${{ steps.pip-cache.outputs.dir }}

      - name: flake8 Lint
        uses: py-actions/flake8@v2.0.0
        with:
          flake8-version: 4.0.1
          path: aiomysql
          args: tests examples
